@import '../css-config/mixins.scss';
.Home{
    // background-image: url('/public/pattern1bk.png');
    background-image: url('/public/cp2.svg');
    .HomeContainer {
        display: flex;
        flex-direction: column-reverse;
        font-family: 'Roboto', sans-serif;
        padding: 140px 20px 60px 20px;
        max-width: 1200px;
        height: 100vh;
        margin: 0px auto;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.8);
        @include md{
            flex-direction: row;
            padding: 120px 0px 60px 0px;
        }
        .left{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            @include md{
                align-items: start;
            }
            h2{
                font-size: 2rem;
                text-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.89);
                @include md{
                    font-weight: 400;
                    font-size: 4rem;
                }
            }
            h1{
                font-size: 2.5rem;
                margin-bottom: 10px;
                color: #FF5C00;
                @include md{
                    font-size: 5rem;
                }
            }
            p{
                font-size: 1.2rem;
                text-align: center;
                @include md{
                    font-size: 1.5rem;
                    text-align: start;
                }
            }
        }
        .right{
            box-sizing: border-box;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                padding: 12px;
                background: linear-gradient(to bottom, #ff0000, #ff00b3);
                img{
                    width: 250px;
                    border-radius: 50%;
                    @include md{
                        width: 400px;
                    }
                }
            }
            // background-color: lightblue;
        }
    }
}