@import '../css-config/mixins.scss';
.Home{
    background-image: url('/public/ani_bk3.svg');
    .HomeContainer {
        display: flex;
        flex-direction: column-reverse;
        // font-family: 'Roboto', sans-serif;
        padding: 60px 20px;
        max-width: 1200px;
        min-height: 100vh;
        margin: 0px auto;
        box-sizing: border-box;
        @include md{
            flex-direction: row;
        }
        .left{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            color: white;
            @include md{
                align-items: start;
            }
            h2{
                font-size: 1.8rem;
                text-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.89);
                @include md{
                    font-weight: 300;
                    font-size: 2.5rem;
                }
            }
            h1{
                font-size: 2.5rem;
                margin-bottom: 10px;
                font-weight: 400;
                color: yellow;
                @include md{
                    font-size: 4rem;
                }
            }
            p{
                font-size: 1.2rem;
                text-align: center;
                font-weight: 200;
                font-family: 'Heebo', sans-serif;
                @include md{
                    font-size: 1.5rem;
                    text-align: start;
                }
            }
            .button{
                margin: 0 auto;
                // a{
                //     text-decoration: none;
                // }
            }
            .SocialMedia{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
                // background-color: aliceblue;
                padding: 10px;
                border-radius: 5px;
                @include md{
                    gap: 10px;
                }
                a{   
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;     
                    @include lg {
                        flex-direction: row;
                        
                    }        
                    img{
                        width: 30px;
                        @include md{
                            width: 50px;
                        }
                    }
                    span{
                        display: none;
                        font-weight: 500;
                        @include sm{
                            display: flex;
                        }
                    }
                    &:hover{
                        box-shadow: 0px 0px 6px 3px rgb(255, 238, 0);;
                        outline: 1px solid white;
                    }
                }
                .s1{
                    padding: 5px 8px;
                    border-radius: 5px;
                    &:hover{
                        box-shadow: 0px 0px 6px 3px rgb(238, 238, 238);;
                        background-image: linear-gradient(to right, rgb(120, 120, 120),rgb(100, 100, 100));
                    }
                }
                .s2{
                    padding: 5px 8px;
                    border-radius: 5px;
                    &:hover{
                        box-shadow: 0px 0px 6px 3px #95f1ff;;
                        background-image: linear-gradient(to right bottom,rgb(47, 116, 184), rgb(30, 105, 166));
                    }
                }
                .s3{
                    padding: 5px 8px;
                    border-radius: 5px;
                    &:hover{
                        box-shadow: 0px 0px 6px 3px rgb(255, 162, 189);;
                        background-image: linear-gradient(to right bottom,rgb(255, 0, 230),rgb(252, 134, 0));
                    }
                }
                .s4{
                    padding: 5px 8px;
                    border-radius: 5px;
                    &:hover{
                        box-shadow: 0px 0px 6px 3px rgb(176, 252, 255);;
                        background-color: rgb(0, 153, 255);
                    }
                }
            }
        }
        .right{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                padding: 12px;
                background: linear-gradient(to bottom, #041527, #ffffff);
                img{
                    overflow: hidden;
                    width: 200px;
                    border-radius: 50%;
                    @include md{
                        width: 350px;
                    }
                    @include lg{
                        width: 400px;
                    }
                }
                &:hover{
                    outline: 2px solid white;
                    box-shadow: 0px 0px 10px 5px rgba(255, 246, 162, 0.839);
                }
            }
        }
    }
}