@import "../css-config/mixins.scss";

.Home {
    box-sizing: border-box;
    display: flex;
    padding: 64px 40px;
    @include md {
        flex-direction: row;
    }
    @include lg {
        padding: 64px;
    }
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: white;
    @include md {
      align-items: start;
    }
    h2 {
        font-family: 'Dancing Script', cursive;
        font-size: 1.2rem;
        color: rgb(255, 0, 55);
        text-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.89);
        @include md {
            font-size: 2.5rem;
        }
        @include lg {
            font-size: 4rem;
        }
        animation: textShow 0.5s ease-in-out;

    }
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 10px;
        color: white;
        animation: textShow 0.5s ease-in-out 0.1s;
        @include md {
            font-size: 4rem;
        }
    }
    p {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        text-align: center;
        letter-spacing: 3px;
        animation: textShow 0.5s ease-in-out 0.2s;
      @include md {
        font-size: 1.2rem;
        text-align: start;
      }
    }
    @keyframes textShow {
        0% {
            opacity: 0;
            transform: translate(-100%,0);
        }
        50% {
            opacity: 0.3;
        }
        75% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
            transform: translate(0%,0%);
        }
    }

    .button {
      margin: 0 auto;
      // a{
      //     text-decoration: none;
      // }
    }
    .SocialMedia {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        // background-color: aliceblue;
        padding: 10px;
        border-radius: 5px;
        @include md {
            gap: 10px;
        }
        @include lg {
            gap: 32px;
        }
        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
            transition: 0.3s ease-in-out;
            @include lg {
                flex-direction: row;
                min-width: 160px;
            }
            img {
                width: 30px;
                @include md {
                    width: 50px;
                }
            }
            span {
                display: none;
                font-weight: 500;
                @include sm {
                    display: flex;
                }
            }
            &:hover {
                box-shadow: 0px 0px 6px 3px rgb(255, 238, 0);
                outline: 1px solid white;
            }
      }
      .s1 {
        opacity: 0;
        padding: 5px 8px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        animation: cardShow 0.3s ease-in-out forwards 0.5s;
        &:hover {
          box-shadow: 0px 0px 6px 3px rgb(238, 238, 238);
          background-image: linear-gradient(
            to right,
            rgb(120, 120, 120),
            rgb(100, 100, 100)
          );
        }
      }
      .s2 {
        opacity: 0;
        padding: 5px 8px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        animation: cardShow 0.3s ease-in-out forwards 0.5s;
        &:hover {
          box-shadow: 0px 0px 6px 3px #95f1ff;
          background-image: linear-gradient(
            to right bottom,
            rgb(47, 116, 184),
            rgb(30, 105, 166)
          );
        }
      }
      .s3 {
        opacity: 0;
        padding: 5px 8px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        animation: cardShow 0.3s ease-in-out forwards 0.5s;
        &:hover {
          box-shadow: 0px 0px 6px 3px rgb(255, 162, 189);
          background-image: linear-gradient(
            to right bottom,
            rgb(255, 0, 230),
            rgb(252, 134, 0)
          );
        }
      }
      .s4 {
        opacity: 0;
        padding: 5px 8px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        animation: cardShow 0.3s ease-in-out forwards 0.5s;
        &:hover {
          box-shadow: 0px 0px 6px 3px rgb(176, 252, 255);
          background-color: rgb(0, 153, 255);
        }
      }
      @keyframes cardShow {
        0% {
            opacity: 0;
            transform: scale(0.4);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 12px;
      background: linear-gradient(to bottom, #041527, #ffffff);
      img {
        overflow: hidden;
        width: 200px;
        border-radius: 50%;
        @include md {
          width: 350px;
        }
        @include lg {
          width: 400px;
        }
      }
      &:hover {
        outline: 2px solid white;
        box-shadow: 0px 0px 10px 5px rgba(255, 246, 162, 0.839);
      }
    }
  }
}
