@import '../css-config/mixins.scss';
.navbar{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    height: 66px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba($color: #000000, $alpha: 0.05);
    z-index: 1;
    .navbarContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        font-size: 1.8rem;
        font-weight: 400;
        z-index: 1;
        justify-content: space-between;
        padding: 0px 20px;
        @include lg{
            font-weight: 500;
        }
        .left{
            span{
                color: #FF5C00;
                font-size: 2rem;
                font-weight: 900;
            }
        }
        .right{
            display: flex;
            justify-content: center;
            align-items: center;

            .menuContainer{
                list-style-type: none;
                display: none;
                margin: 0;
                @include md {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1.2rem;
                }
                @include lg{
                    gap: 2.5rem;
                }
                li{
                    a{
                        Button{
                            cursor: pointer;
                        }
                        text-decoration: none;
                        color: black;
                    }
                }
                .pagelink{
                    padding: 4px 6px;
                    border-radius: 3px;
                    &:hover{
                        cursor: pointer;
                        background-color: #ff853eb7;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        .menuList {
            display: flex;
            @include md {
                display: none;
            }
            div{
                img{
                    width: 40px;
                }
            }
            .menuContainer{
                display: none;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                list-style-type: none;
                position: fixed;
                top: 60px;
                right: 0px;
                width: fit-content;
                background-color: rgba(255, 255, 255, 0.8);
                padding: 10px;
                font-size: 1.5rem;
                border-radius: 5px;
                @include md{
                    padding: 10px
                }
                li{
                    a{
                        Button{
                            cursor: pointer;
                        }
                        text-decoration: none;
                        color: black;
                    }
                }
                .pagelink{
                    
                    padding: 4px 6px;
                    border-radius: 3px;
                    &:hover{
                        cursor: pointer;
                        background-color: #ff853eb7;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            .menuContainerOn {
                display: flex;
            }
    
        }
    }
}