@import '../css-config/mixins.scss';
.skillsContainer {
    max-width: 1200px;
    margin: 50px auto;
    h1{
        color: #FF5C00;
        text-align: center;
        font-size: 2rem;
        @include md{
            text-align: left;
            font-size: 3rem;
        }
        @include lg {
            font-size: 5rem;
        }
    }
    .skillsimages{
        display: flex;
        flex-flow: wrap;
        max-width: 1200px;
        gap: 20px;
        @include md{
            padding: 10px;
        }
        div{
            border: 2px solid black;
            @include md{
                padding: 10px;
            }
            img{
                width: 220px;
                @include md {
                    width: 250px;
                }
            }
        }
    }
}