@import '../css-config/mixins.scss';
.carousel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    margin: 50px 60px;
    height: 400px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    @include md{
        margin: 50px 120px;
    }
    .title{
        font-size: 1.3rem;
        font-weight: 600;
        @include md{
            font-size: 1.5rem;
        }
    }
    div{
        display: flex;
        gap: 8px;
        flex-direction: column-reverse;
        @include md{
            flex-direction: row;
        }
        img{
            width: 240px;
            @include md{
                width: 320px;
                height: 180px;
            }
            @include lg{
                width: 400px;
            }
        }
        .description{
            text-align: justify;
            font-weight: 500;
        }
    }
}